# ASP.NET
obj/
bin/
*.dll
*.exe
*.pdb
*.cache
*.log
*.vs/
*.bak

# Angular
node_modules/
dist/
*.js
*.js.map
*.d.ts

# Visual Studio Code
.vscode/

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*

